body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: monospace, sans-serif;
  font-size: 12px;
}

#content {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  border: 0;
}

.tooltip {
  position: absolute;
  pointer-events: none;
  background-color: white;
}
